<!-- <div class="page-header">
  <h3 class="fw-bold mb-3">Categories</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Categorie</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">List</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <div class="card-title">aaa</div>
    </div>
    <div class="card-body">
      <div class="card-sub">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="largeInput">Default Input</label>
              <input type="text" class="form-control form-control" id="defaultInput" placeholder="Default Input" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="largeInput">Default Input</label>
              <input type="text" class="form-control form-control" id="defaultInput" placeholder="Default Input" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="largeInput">Default Input</label>
              <input type="text" class="form-control form-control" id="defaultInput" placeholder="Default Input" />
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
<jhi-admin-page-header
  [pageHeaderInput]="pageHeaderInput"
  (refreshDataButtonClicked)="loadAll()"
  (filterSettingsButtonClicked)="switchShowFilterPane()"
></jhi-admin-page-header>
<div class="list-main-body">
  <div class="list-main-filter">
    <jhi-shared-filter-pane
      [config]="filterConfig"
      [show]="showFilterPane"
      (filterOutput)="onFilterPaneFilter($event)"
      (resetOutput)="onFilterPaneReset()"
    ></jhi-shared-filter-pane>
  </div>
  <div class="list-main-table card">
    <jhi-shared-list-table
      [config]="tableConfig"
      (action)="onTableAction($event)"
      (pageChange)="onTablePageChange($event)"
      (sort)="onTableSort($event)"
    ></jhi-shared-list-table>
  </div>
</div>
