@if (entiteFinanciere) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(entiteFinanciere.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="entiteFinanciereDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirmation de suppression
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-entiteFinanciere-heading"
        jhiTranslate="graceFinanceApp.entiteFinanciere.delete.question"
        [translateValues]="{ id: entiteFinanciere.id }"
      >
        Êtes-vous certain de vouloir supprimer le Entite Financiere {{ entiteFinanciere.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button id="jhi-confirm-delete-entiteFinanciere" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
