<!-- Sidebar -->
<div class="sidebar" data-background-color="dark" [class.sidebar-hidden]="!sidebarOpen">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img src="content/public/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar" (click)="toggleSidebar()" [attr.aria-expanded]="sidebarOpen">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler" (click)="toggleSidebar()" [attr.aria-expanded]="sidebarOpen">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more" (click)="toggleSidebar()" [attr.aria-expanded]="sidebarOpen">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Caisse</h4>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/caisse" routerLinkActive="active">
            <i class="fas fa-book"></i>
            <p>Caisse</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/compte-comptable" routerLinkActive="active">
            <i class="fas fa-book"></i>
            <p>Compte comptable</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/depense" routerLinkActive="active">
            <i class="fas fa-money-bill-wave"></i>
            <p>Dépense</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/ecriture-comptable" routerLinkActive="active">
            <i class="fas fa-file-invoice-dollar"></i>
            <p>Écriture comptable</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/entite-financiere" routerLinkActive="active">
            <i class="fas fa-building"></i>
            <p>Entité financière</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/ligne-ecriture" routerLinkActive="active">
            <i class="fas fa-file-alt"></i>
            <p>Ligne écriture</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/principal/recette" routerLinkActive="active">
            <i class="fas fa-receipt"></i>
            <p>Recette</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Référentiel</h4>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/referentiel/categorie" routerLinkActive="active">
            <i class="fas fa-tags"></i>
            <p>Catégorie</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/referentiel/transfert" routerLinkActive="active">
            <i class="fas fa-exchange-alt"></i>
            <p>Transferts</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Sécurité</h4>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/security/compte-utilisateur" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <p>Compte utilisateur</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/security/profil" routerLinkActive="active">
            <i class="fas fa-user-cog"></i>
            <p>Profil</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/security/droits" routerLinkActive="active">
            <i class="fas fa-key"></i>
            <p>Droits</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/security/affectation-utilisateur" routerLinkActive="active">
            <i class="fas fa-user-tag"></i>
            <p>Affectation utilisateur</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
