<div>
  <h2 id="page-heading" data-cy="LigneEcritureHeading">
    <span jhiTranslate="graceFinanceApp.ligneEcriture.home.title">LigneEcritures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="graceFinanceApp.ligneEcriture.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ligne-ecriture"
        [routerLink]="['/ligne-ecriture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="graceFinanceApp.ligneEcriture.home.createLabel">Créer un nouveau Ligne Ecriture</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (ligneEcritures().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="graceFinanceApp.ligneEcriture.home.notFound">Aucun Ligne Ecriture trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.ligneEcriture.montant">Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sens">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.ligneEcriture.sens">Sens</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.ligneEcriture.libelle">Libelle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ecriture.id">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.ligneEcriture.ecriture">Ecriture</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compte.id">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.ligneEcriture.compte">Compte</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ligneEcriture of ligneEcritures(); track trackId(ligneEcriture)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ligne-ecriture', ligneEcriture.id, 'view']">{{ ligneEcriture.id }}</a>
              </td>
              <td>{{ ligneEcriture.montant }}</td>
              <td>{{ ligneEcriture.sens }}</td>
              <td>{{ ligneEcriture.libelle }}</td>
              <td>
                @if (ligneEcriture.ecriture) {
                  <div>
                    <a [routerLink]="['/ecriture-comptable', ligneEcriture.ecriture.id, 'view']">{{ ligneEcriture.ecriture.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ligneEcriture.compte) {
                  <div>
                    <a [routerLink]="['/compte-comptable', ligneEcriture.compte.id, 'view']">{{ ligneEcriture.compte.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ligne-ecriture', ligneEcriture.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/ligne-ecriture', ligneEcriture.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(ligneEcriture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (ligneEcritures().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
