<div>
  <h2 id="page-heading" data-cy="TransfertHeading">
    <span jhiTranslate="graceFinanceApp.transfert.home.title">Transferts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="graceFinanceApp.transfert.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transfert"
        [routerLink]="['/transfert/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="graceFinanceApp.transfert.home.createLabel">Créer un nouveau Transfert</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (transferts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="graceFinanceApp.transfert.home.notFound">Aucun Transfert trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateTransfert">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.dateTransfert">Date Transfert</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.montant">Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="motif">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.motif">Motif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeTransfert">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.typeTransfert">Type Transfert</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.statut">Statut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="validerPar">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.validerPar">Valider Par</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateValidation">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.dateValidation">Date Validation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entiteFinanciereSource.id">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.entiteFinanciereSource">Entite Financiere Source</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caisseSource.id">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.caisseSource">Caisse Source</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caisseDestination.id">
              <div class="d-flex">
                <span jhiTranslate="graceFinanceApp.transfert.caisseDestination">Caisse Destination</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (transfert of transferts(); track trackId(transfert)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/transfert', transfert.id, 'view']">{{ transfert.id }}</a>
              </td>
              <td>{{ transfert.code }}</td>
              <td>{{ transfert.dateTransfert | formatMediumDate }}</td>
              <td>{{ transfert.montant }}</td>
              <td>{{ transfert.motif }}</td>
              <td>{{ transfert.typeTransfert }}</td>
              <td>{{ transfert.statut }}</td>
              <td>{{ transfert.validerPar }}</td>
              <td>{{ transfert.dateValidation | formatMediumDatetime }}</td>
              <td>
                @if (transfert.entiteFinanciereSource) {
                  <div>
                    <a [routerLink]="['/entite-financiere', transfert.entiteFinanciereSource.id, 'view']">{{
                      transfert.entiteFinanciereSource.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (transfert.caisseSource) {
                  <div>
                    <a [routerLink]="['/caisse', transfert.caisseSource.id, 'view']">{{ transfert.caisseSource.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (transfert.caisseDestination) {
                  <div>
                    <a [routerLink]="['/caisse', transfert.caisseDestination.id, 'view']">{{ transfert.caisseDestination.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/transfert', transfert.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/transfert', transfert.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(transfert)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (transferts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
